
<div class="panel panel-primary bg-secondary bg-gradient">
    <div class="panel-heading">
      {{titolLlistat}}
    </div>
    <div *ngIf="autors.length==0">
      <h4>No hi ha autors</h4>
    </div>
    <div *ngIf="autors.length>0" class="table">
      <div class="row">
        <div class="col-md-6">
          Introdueix el filtre: 
          <input  type="text" [(ngModel)] = "listFilter">
        </div>
      </div>
      <div class="col-md-6">
        <h3>Filtrat per: {{listFilter}}</h3>
      </div>
      <div class="table-responsive w-100 ">
        <table class="table table-striped-bg-factor table-bordered table-hover w-50 mx-auto">
          <thead class="table-dark">
            <tr>
              <th>Nom</th>
              <th>Cognoms</th>
              <th>Imatge</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let autor of autors | autorListFilter:listFilter">
              <td>{{autor.nom}}</td>
              <td>{{autor.cognoms}}</td>
              <td><img src="{{autor.imatge}}" alt="" class="img-thumbnail" style="height: 30%; width: 30%;"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>